@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.Header {
  background-color: #0e356e;
  height: 50px;
  font-family: "Poppins", sans-serif;

  position: sticky;
  top: 0;
  transition: all 0.3s ease-in-out;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0px 15px;
}
/* .Header:hover {
  background-color: aqua;
  color: white;

  transition: all 0.3s ease-in-out;

  cursor: pointer;
} */
.linkContainer {
  display: none;
}
.logo {
  padding-right: 86px;
  color: white;
  font-size: 20px;
  font-weight: 800;
  transition: all 0.3s ease-in-out;
}
.logo:hover {
  color: rgb(143, 167, 219);
  transition: all 0.3s ease-in-out;

  cursor: pointer;
  font-weight: 1000;
}

@media screen and (min-width: 768px) {
  .Header {
    height: 70px;
  }
  .linkContainer {
    display: flex;
    gap: 20px;
  }
  .logo {
    font-size: 26px;
  }
}
