.Footer {
  background-color: #0e356e;
  height: 150px;
  color: white;

  font-family: "Poppins", sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .Footer {
    height: 200px;
  }
}
