.container {
  background-color: white;
  height: 600px;
  /* background-image: url("../../assets/bg.jpg"); */
  background-repeat: no-repeat, repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding: 50px;
}

.timer {
  background-color: #fff;

  width: 80px;
  height: 40px;

  font-size: 30px;
  font-family: "Times New Roman", Times, serif;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 10px;
  border: 2px solid black;
}
.timerCompleted {
  background-color: #fff;
  color: red;

  width: 100px;
  height: 40px;

  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
}

.displayedPara {
  background-color: #fff;

  margin: 20px;
  padding: 20px;

  border-radius: 10px;
  box-shadow: 5px 10px 8px 10px #888888;
  /* user-select: none; */
}

.displayedPara p {
  width: 200px;
}
.letter {
  font-size: 20px;
}
.textInput {
  width: 200px;
  height: 70px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 10px 8px 10px #888888;
  font-size: 20px;
}
.textInput:focus {
  outline: none;
}
@media screen and (min-width: 768px) {
  .container {
    height: 500px;
    padding: 100px;
  }
  .timer {
    width: 120px;
    height: 50px;

    font-size: 40px;
  }
  .timerCompleted {
    width: 140px;
    height: 60px;
    font-size: 40px;
  }
  .displayedPara p {
    width: 1000px;
  }
  .letter {
    font-size: 28px;
  }
  .textInput {
    width: 1000px;
  }
}
