.textContainer {
  font-size: 18px;
  font-family: museo-sans-rounded-bold, sans-serif;

  height: 450px;

  text-align: center;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.textContainer h4 {
  font-size: 24px;
  font-weight: 600;
  color: #4daed8;
  margin-bottom: 15px;
}
.textContainer span {
  color: #4daed8;
}

@media screen and (min-width: 768px) {
  .textContainer {
    height: 700px;
    font-size: 24px;
  }
  .textContainer h4 {
    font-size: 28px;
  }
}
